services:
  db:
    container_name: "db"
    image: postgres
    environment:
      - "POSTGRES_USER=todo"
      - "POSTGRES_DB=todo"
      - "POSTGRES_PASSWORD=todo"
    volumes:
      - ./db/data:/var/lib/postgresql/data
  app:
    container_name: "app"
    build: ./app
    ports:
      - "9000:9000"
    volumes:
      - type: bind
        source: ./app
        target: /app
